@import 'bootstrap/dist/css/bootstrap.min.css';
@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.css";
/* @import "flowbite/dist/flowbite.css"; */


.resaltada{
    background-color: #ef233c;
    color: #edf2f4;
}
.loadMore{
    margin-top: 20px;
}
.no-underline a {
    text-decoration: none;

  }

  .filter{
    margin-top: 5vh;
  }



