@import 'bootstrap/dist/css/bootstrap.min.css';
@import "tailwindcss";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "@fortawesome/fontawesome-free/css/all.css";

.resaltada{
    background-color: #ef233c;
    color: #edf2f4;
}

.espacios{
    display: flex;
    justify-content: center;
    align-items: center;
}

.loadMore{
    margin-top: 20px;
}

.no-underline a {
    text-decoration: none;

  }

  .navbar{
    margin-top:15px;
  }
